<div class="tab">
  <button class="tablinks" (click)="openTab(tabs.Home)">Home</button>
  <button class="tablinks" (click)="openTab(tabs.Profile)">Profile</button>
  <button class="tablinks" (click)="openTab(tabs.Products)">Products</button>
  <button class="tablinks" (click)="openTab(tabs.Docs)">Docs</button>
  <button class="tablinks" (click)="openTab(tabs.Contact)">Contact</button>
</div>

<!-- Tab content -->
<div *ngIf="currentTab == tabs.Home" class="tabcontent">
  <app-home></app-home>
</div>

<div *ngIf="currentTab == tabs.Profile" class="tabcontent">
  <app-profile></app-profile>
</div>

<div *ngIf="currentTab == tabs.Products" class="tabcontent">
  <app-products></app-products>
</div>

<div *ngIf="currentTab == tabs.Docs" class="tabcontent">
  <app-docs></app-docs>
</div>

<div *ngIf="currentTab == tabs.Contact" class="tabcontent">
  <app-contact></app-contact>
</div>